/* .about_h2{
    margin: 10px 60px 10px 60px;  
}

.about_p {
  margin: 30px 60px 50px 60px;
} */
@media (min-width: 300px) and (max-width: 1000px) {
  .about_h2{
    padding: 9px; 
}
  .about_p {
   padding: 9px;
  }  
}