.hero_wrapper {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* .hero_content,
.hero_img {
    width: 50%;
} */

.hero_content {
  padding-top: 10.4rem;
}

.hero_container{
 position: absolute;
 top: 0;
 right: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100%;
 overflow: hidden;
}

.hero_section{
  padding: 0;
  padding-bottom: 30px;
}
.hero-img img{
  width: 100%;
  height: 600px;
  /* object-fit: contain ; */
  opacity: 0.5;
  backdrop-filter: contrast(100%);
}
.hero_desc{
  font-weight: 600;
}
.hero_section .container img{
    position: absolute;
    z-index: -11111;
}

.hero_content h2 {
  font-size: 3rem;
  line-height: 65px;
}

.hero_content p {
  margin-top: 20px;
  font-size: 1.1rem;
  width: 75%;
  margin-left: 154px;
}

.highlight {
  color: var(--primary-color);
}

.hero_btns {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
}

.primary_btn,
.secondary_btn {
  padding: 0.8rem 1.5rem;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  border-radius: 0.2rem;
  cursor: pointer;
}

.primary_btn {
  background: rgb(19, 67, 156);
  border: 1px solid #1aa3ff;
}

.secondary_btn {
  background: #1aa3ff;
}



@media (max-width: 920px) {
  .hero_content h2{
    font-size: 1.6rem;
    line-height: 45px;
  }
  .hero_content p{
    font-size: 0.9rem;
    margin: auto;
  }

  .primary_btn, .secondary_btn{
    font-size: 0.8rem;
  }
}